.frontCard{
    background: grey;
    border: 1px dotted purple;
    color: white;
    width: 15%;
    height: 120px;
    float: left;
    font-size:50;
    text-align: center;
    line-height: 120px;
    font-family: Geneva;
    margin: 20px;

}

.backCardRed{
    background: red;
    border: 1px dotted purple;
    color: white;
    width: 15%;
    height: 120px;
    float: left;
    font-size: 50;
    text-align: center;
    line-height: 120px;
    font-family: Geneva;
    margin: 20px;
}

.backCardBlue{
    background: red;
    border: 1px dotted purple;
    color: white;
    width: 15%;
    height: 120px;
    float: left;
    font-size: 50;
    text-align: center;
    line-height: 120px;
    font-family: Geneva;
    margin: 20px;
}

.backCardNeutral{
    background: yellow;
    border: 1px dotted purple;
    color: white;
    width: 15%;
    height: 120px;
    float: left;
    font-size: 50;
    text-align: center;
    line-height: 120px;
    font-family: Geneva;
    margin: 20px;
}

.backCardLose{
    background: black;
    border: 1px dotted purple;
    color: white;
    width: 15%;
    height: 120px;
    float: left;
    font-size: 50;
    text-align: center;
    line-height: 120px;
    font-family: Geneva;
    margin: 20px;
}

.titleBar {
    text-align: center;
    font-size: 80;
    font-family: Courier New;
    color: white;
    background: purple;
    border: 3px dotted white;
}

.sideBar{
  background: #A0C1B8;
  width: 200px;
  height: 1000px;
  float: left;
  margin-right: 20px;
  border: 5px solid red;
}

.boardStyle {
  float: left;
}

.btn {
    background: purple;
    font-family: Courier New;
    font-size: 20;
    border-radius: 10px;
    color: white;
    margin: 5px;
    width: 180px;
    text-align: center;
}

.scores {
    text-align: center;
    margin: 5px;
    color: black;
    font-size: 30;
    font-family: Courier New;
    width: 190px;
}

.redTeam {
    text-align: center;
    margin: 5px;
    color: red;
    font-size: 30;
    font-family: Courier New;
    font-style: bold;
    width: 190px;
}

.blueTeam {
    text-align: center;
    margin: 5px;
    color: blue;
    font-size: 30;
    font-style: bold;
    font-family: Courier New;
    width: 190px;
}

.instructions {
    font-size: 11pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;
}